[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-jwt-extended = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-login = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev="flask run"
